extends layout

block content
    p Hello Sale ends
    p #{h.moment().endOf('day').fromNow()}


    //div.wrapper.secondclass
    //    - const upDog = dog.toUpperCase();
    //    p ola I'm a paragraph!And my dog is #{upDog}
    //    span#yo yo! cat? >>>  #{cat}
    //    img.dog(src="dog.jpg" alt=`Dog ${dog}`)
    //h2
    //    | hellou from h2
    //    em How are You
